
.hero-image{
    background-image: url(blue-burst.jpg);
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

.hero-text{
    font-family: "Rubik", sans-serif;
    text-align: center;
    padding: 20px; 
    color: rgb(28, 0, 128);
}

.container{
    border: 10px;
    font-family: "Rubik", sans-serif;
    color: whitesmoke
    background-image: none;
    text-align: center
}

.row{
    row-gap: 5px;
}